<section class="fdb-block space" id="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-7 col-lg-5">
                <h3 class="center">About</h3>
                <p>
                    SVVV's Void Hacks() is a 36 hour hackathon fostering innovation
                    and creativity through learning by doing, with some wicked prizes
                    up for grabs. While taking breaks from building your projects,
                    you’ll enjoy free meals, attend fun mini-events, interact with
                    industry leaders, and make some friends along the way. We hope to
                    see you there!
                </p>
            </div>

            <div class="col-10 col-sm-6 col-md-5 col-lg-4 m-auto pt-5 pt-md-0">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/LGqkGEl2WTE" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>