<section class="fdb-block space" id="faq">
    <div class="container">
        <h3 class="text-center mb-5"><strong>FAQ</strong></h3>
        <div class="row text-left justify-content-sm-center no-gutters align-force">
            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>What is a hackathon?</strong></h6>
                <p>
                    A creative community of programmers from novices to experienced -
                    come together for 36 hours to make amazing projects.
                </p>
            </div>

            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>When will Void Hacks take place?</strong></h6>
                <p>
                    Void Hacks will take place on Friday, April 3, 2019, and conclude
                    on Sunday, April 5, 2020.
                </p>
            </div>

            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>Who can attend?</strong></h6>
                <p>
                    Void Hacks is accepting college students and high school students
                    who are 18 or older.
                </p>
            </div>
        </div>

        <div class="row text-left justify-content-sm-center no-gutters align-force mt-3">
            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>Do you guys offer travel assistance?</strong></h6>
                <p>Unfortunately, we are not offering travel reimbursements.</p>
            </div>

            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>When will acceptances come out?</strong></h6>
                <p>
                    Acceptances go out in mid March for Indore hackers and a bit
                    earlier for out-of-state applicants.
                </p>
            </div>

            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>When can I apply?</strong></h6>
                <p>Applications are open now and will close on March 23rd.</p>
            </div>
        </div>

        <div class="row text-left justify-content-sm-center no-gutters align-force mt-3">
            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>Is there any payment involved?</strong></h6>
                <p>No, there is no payment involved the event is absolutely free.</p>
            </div>

            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>Do you have a Code of Conduct?</strong></h6>
                <p>
                    Yes. Smile, be nice and have fun, but all the other details can be
                    found in our
                    <a href="https://hackcodeofconduct.org/1184-ebhacks_2019">Code of Conduct</a>.
                </p>
            </div>

            <div class="col-12 col-sm-8 col-md-4  pt-3 p-3">
                <h6><strong>Question not here?</strong></h6>
                <p>
                    Feel free to email us with any questions at <a href="mailto:voidhacks@svvv.edu.in">voidhacks@svvv.edu.in</a>
                    we will be happy to answer all of your questions.
                </p>
            </div>
        </div>
    </div>
</section>